<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://piog07.crm4.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="username" value="testadmin@piog07.onmicrosoft.com" />
    <add key="password" value="" />
    <add key="out" value="../02_XrmDefinitelyTyped/typings/XRM" />
    <add key="solutions" value="" />
    <add key="entities" value="account, contact, opportunity" />
    <add key="web" value="Dyn365WebApi" />
    <add key="jsLib" value="../02_XrmDefinitelyTyped/src/lib" />
  </appSettings>
</configuration>