################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TypeScriptDyn365.Demo/.vs/TypeScriptDyn365.Demo/v15/Server/sqlite3/storage.ide-wal
/TypeScriptDyn365.Demo/.vs/TypeScriptDyn365.Demo/v15/Server/sqlite3/storage.ide-shm
/TypeScriptDyn365.Demo/.vs/TypeScriptDyn365.Demo/v15/Server/sqlite3/storage.ide
/TypeScriptDyn365.Demo/.vs/TypeScriptDyn365.Demo/v15/Server/sqlite3/db.lock
