<?xml version="1.0" encoding="utf-8"?>
<Mappings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://exitoconsulting.ru/schema/CrmWebResourcesUpdater/MappingSchema.xsd">
  <!--
EXAMPLES OF MAPPINGS:
<Mapping localPath="scripts\contact.js" webResourceName="new_contact"/>
<Mapping localPath="account.js" webResourceName="new_account"/>
-->
  <Mapping localPath="02_xrmdefinitelytyped\src\forms\account.js" webResourceName="foo_/src/forms/account.js" />
  <Mapping localPath="02_xrmdefinitelytyped\src\common\dyn365common.js" webResourceName="foo_/src/common/dyn365common.js" />
  <Mapping localPath="02_xrmdefinitelytyped\src\data\dyn365dataservices.js" webResourceName="foo_/src/data/dyn365dataservices.js" />
  <Mapping localPath="02_xrmdefinitelytyped\src\lib\dg.xrmquery.web.min.js" webResourceName="foo_/src/lib/dg.xrmquery.web.min.js" />
</Mappings>